﻿<!DOCTYPE html>
<html lang="en">
@{
    var X = Html.X();
}
<head>
    <title>@ViewBag.Title</title>

@*    <link href="/Contents/themes/base/jquery-ui.css" rel="stylesheet" /> *@
    <script type="text/javascript" src="/Scripts/jquery.min.js" ></script>
    @X.ResourceManager().Locale("en") @*default is dutch*@
    @RenderSection("headTag", false)
</head>
<body>



    @RenderBody()


</body>
</html>
